/* Custom CSS */
#feedback {

    margin-bottom:15px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: #dddddd;
    padding: 15px 12px 15px 12px;
    border-radius: 7px;
    text-align: center;

}


.btn {
    min-width: 150px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #eeeeee;
    height: 100%;
    min-height: 100%
}

html, body {
    height: 100%;
    background-color: #333;
}

.table-container {
    max-height: 400px;
    overflow: auto;
    margin-top: 15px;
}