/* Custom CSS */
html {
    background: url("../img/meeting.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body {
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
}
#feedback {
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;
    max-width: 800px;
    text-shadow: 0 0 25px black;
    margin: 15px auto;
    margin-bottom: 10px;
    background-color: transparent;
    padding: 15px 12px 15px 12px;
    color: white;
    text-align: center;
}
.glyphs {
    margin: 25px 5px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    text-shadow: 0 0 25px black;


}

#clockin {
    padding: 12px;

    border: none;
    font-size: 3rem;
    border: 2px solid white;
    background-color: transparent;
    text-shadow: 0 0 15px #222;
    color: white;
    min-width: 150px;
    margin-right: 40px;
    box-shadow: 0 0 15px #222;
}

#clockout {
    padding: 12px;
    box-shadow: 0 0 15px #222;
    border: none;
    font-size: 3rem;
    border: 2px solid white;
    background-color: transparent;
    text-shadow: 0 0 15px #222;
    color: white;
    min-width: 150px;

}

#user-form{
    margin-top: 25px;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;}

.text-input {
    height: 4rem;
    border: 2px solid white;
    background-color: transparent;
    text-shadow: 0 0 15px #222;
    box-shadow: 0 0 15px #222;
    color: white;

    margin-bottom:25px;

    padding: 5px;
}

input::-webkit-input-placeholder {
   color: white;
   text-transform: uppercase;
}

.text-input-form {
    height: 4rem;
    border-radius: 5px;
    margin:10px;
    border:0;
    padding: 5px;
    min-width: 300px;
}

.container {

    text-align:center;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.8);
    height: 100%;
    min-height: 200px;

    padding-bottom: 25px;
    overflow:hidden;
}

html, body {
    margin: 0;
    padding:0;
    font-family: Arial;
}

.table-container{
    max-width: 500px;
    max-height: 325px;
    overflow: scroll;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;

}
.table {
    color: white;
    text-shadow: 0 0 10px black;
}
